@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";



@theme {
    --color-primary : #0D1B2A;
    --color-secondary : #1B263B;
    --color-light : #E0E1DD;
    --color-semilight:#778DA9;
    --color-mid : #415A77; 
    --font-roboto: "Roboto", sans-serif; 
}

.How_works{
    @apply bg-primary text-light p-3 rounded-4xl mr-3 text-center
}
